@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.game-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #282c34; /* Same background color as the container */
}

* {
  cursor: url('https://unpkg.com/nes.css/assets/cursor.png'), auto;
}

.interrogate-container {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 6px #000000;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url(assets/background2.png);
  background-size: cover;
  background-position: center;
  padding: 1em;
}

h1 {
    padding: .5em;
}

.character-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 50vw;
  max-height: 30vh;
  background-color: rgba(256, 256, 256, 0.2);
  align-self: center;
}

.stats {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.chat-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    padding: 1em;
    height: 25vh;
    overflow-y: scroll;
    width: 66vw;
    background-color: white;
}

.bot-message {
  justify-self: flex-start;
  text-align: left;
  max-width: 50vw;
  background: rgb(255, 0, 0);
  padding: 1em;
  font-size: .66em;
}

.player-message {
  justify-self: flex-end;
  text-align: right;
  max-width: 50vw;
  background: blue;
  padding: 1em;
  font-size: .66em;
}

img {
    height: 30vh;
}

.chatbot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5em;
    background-color: rgb(73, 73, 73);
    width: 75vw;
    align-self: center;
    margin: 1em;
}

.suspect-switcher{
    position: absolute;
    left: 0px;
    top: 0px;
}

.navigate {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em;
    gap: 1em;
    background-color: rgb(73, 73, 73);
    width: 20vw;
    align-self: center;
    height: 100vh;
}

.notes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em;
    gap: 1em;
    background-color: rgb(73, 73, 73);
    width: 20vw;
    align-self: center;
    height: 100vh;
    visibility: collapse;

}

.notes.open {
    display: flex;
    visibility: visible;
}