@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.interrogate-container {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding: 20px;
  color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
    padding: .5em;
}

.character-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}

.stats {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

